
    <!-- Footer goes here -->
    <footer>
      <nav class="navbar fixed-bottom navbar-light" style="background-color: #e3f2fd;">
        <h6 class="display-6">&copy; CopyRight 2020. All rights reserved.</h6>
      </nav>
    </footer>