<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>


<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-8">
            <h1><%= title %></h1><br>
            <table class="table table-bordered table-striped hover">
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Contact Number</th>
                    <th class="text-center">Email Address</th>
                </tr>
                <% 
                    for(let count=0;count<ContactList.length;count++)
                    {%>
                        <tr>
                            <td class="text-center"><%= ContactList[count].name %></td>
                            <td class="text-center"><%= ContactList[count].number %></td>
                            <td class="text-center"><%= ContactList[count].email %></td>
                        </tr>
                    <%}
                %> 
            </table>
        </div>
    </div>
</main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>