<main class="home_background">
   
    <img src="/Assets/images/pp.jfif" alt="Profile Picture" id="home_pp">
    <section id="home_info">
        <h2>I'm Veysel Boybay</h2>
        <h3>I'm a Student and Developer</h3>
        <h3>Centennial College since Jan-2020</h3>
    </section>


</main>
