
<div class="loginAll">
    <div class="container login-container ">
        <div class="row">
            <div class="col-md-6 login-form-1" style="padding-left:40px;">
                <h3><%= title %></h3>
                <p>Sorry!, We are not providing any services at that moment. Check back later.</p>
            </div>
        </div>
    </div>
</div>