<main class="about_content">

    <h1>About Myself!</h1>
    <p>Hi, I am Veysel.<br> I've been studying Software Engineering Technology in Centennial College since jan 2020.<br>
        This is my third semester and we are learning too many good things about programming even though we are taking all the courses online because of the pandemic.<br>
        Actually for the programmers, online learning is not too bad. We are already working on with our laptops so it's not the thing that we are not used to.<br>
        Apart from my programmer side, I love going to gym and doing my training. After completing my training, I return my home, have my coffee and rest little bit in front of the tv.<br>
    
    
    </p>
    <p>You can download my resume by clicking this <a href="/Assets/resume.docx">link</a></p>
</main>