<main id="projects_content">

    <h4>I would like to improve myself and work on ;</h4>
    <ul>
        <li>Artificial Intelligence</li>
        <li>Machine Learning</li>
        <li>Date Science by using Pyhton</li>
        <li>Full Stack JavaScript with Angular framework</li>
    </ul>

</main>