body,html{
  height: 95%;
  width:100%;
  margin:0;
}
.home_background{
  width:100%;
  height: 100%;
  background-image: url('/Assets/images/toronto.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:100% 100%;
}

#home_pp{
  width:100px;
  height:100px;
  margin-left:580px;
  margin-top:100px;
  border:1px solid black;
  border-radius:60px;
  
}

#home_info{
  color:white;
  text-align: center;
}

.about_content{

  width:100%;
  height: 100%;
  background-color:rgb(196, 192, 192);
  text-align:center;
  padding-top:30px;
}

#projects_content{

  width:100%;
  height: 100%;
  padding-top:30px;
  padding-left:100px;
}

#contact_content{

  margin-top:30px;
  margin-left:300px;
  margin-right:300px;

}