body,html{
  height: 95%;
  width:100%;
}
.home_background{
  width:100%;
  height: 100%;
  background-image: url('/Assets/images/toronto.jpg');
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:100% 100%;
}

#home_pp{
  display:block;
  width:100px;
  height:100px;
  margin:auto;
  border:1px solid black;
  border-radius:60px;
  
}

#home_info{
  margin-top:50px;
  color:white;
  text-align: center;
}

.about_content{

  width:100%;
  height: 100%;
  background-color:rgb(196, 192, 192);
  text-align:center;
  padding-top:30px;
}

#projects_content{

  width:100%;
  height: 100%;
  padding-top:30px;
  padding-left:100px;
}

#contact_content{

  margin-top:30px;
  margin-left:300px;
  margin-right:300px;

}
/* LOGIN PAGE */
.loginAll{

  
  margin-left:33%;
  
}
.login-container{
  
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form-1{
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
  text-align: center;
  color: #333;
}
.login-container form{
  padding: 10%;
}
.btnSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit{
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}
.login-form-1 .ForgetPwd{
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}